body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}
.flex {
    display: flex;
    justify-content: space-around;
}

.capitalized {
    text-transform: uppercase;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid darkgray;
    border-radius: 0.5rem;
    width: 30%;
    margin: 0.5rem auto 0.5rem auto;
    box-shadow: 2px 2px 2px lightgrey;
}

figcaption {
    padding: 0.5rem;
}